@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --text-color : rgb(251, 251, 251);
    --title-family : "Zalando Sans Expanded", sans-serif;
    --text-family : "Inter", sans-serif;
    --color1 : rgb(239, 125, 125);
    --color2 : rgb(243, 148, 139);
    --color3 : rgb(247, 170, 154);
    --color4 : rgb(250, 193, 167);
    --color5 : rgb(255, 215, 181);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #7DC2A5;
    scrollbar-color: var(--color1) var(--color3);
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--text-family);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;

    background: 
    repeating-linear-gradient(
        190deg,
        rgb(3, 6, 99, 0.5) 40px,
        rgb(7, 12, 115, 0.5) 80px,
        rgb(11, 23, 153, 0.5) 120px,
        rgb(9, 9, 173, 0.5) 160px,
        rgb(21, 11, 214,0.5) 200px
    ),
    repeating-linear-gradient(
        -190deg,
        rgb(3, 99, 22,0.5) 30px,
        rgb(7, 116, 30, 0.5) 60px,
        rgb(11, 153, 37, 0.5) 90px,
        rgb(9, 174, 39, 0.5) 120px,
        rgb(11, 213, 48, 0.5) 150px
    ),
    repeating-linear-gradient(
        45deg,
        rgb(3, 99, 22) 50px,
        rgb(7, 116, 30) 100px,
        rgb(11, 153, 37) 150px,
        rgb(9, 174, 39) 200px,
        rgb(11, 213, 48) 250px
    );
}

header {
    display: flex;
    justify-content: center;
}