@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --text-color : rgb(251, 251, 251);
    --title-family : "Zalando Sans Expanded", sans-serif;
    --text-family : "Inter", sans-serif;
    --color1 : rgb(102, 3, 0);
    --color2 : rgb(143, 5, 0);
    --color3 : rgb(184, 6, 0);
    --color4 : rgb(224, 7, 0);
    --color5 : rgb(255, 18, 10);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-color: var(--color1) var(--color3);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--text-family);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    background: linear-gradient(-45deg, #1e3c72, #2a5298, #b0381f, #930b48);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.titre {
    font-size: 5rem;
    letter-spacing: 4px;
    font-family: var(--title-family);
    text-transform: uppercase;

    background-image: repeating-linear-gradient( /* dégradé texte couleur */
        190deg,
        rgb(102, 3, 0, 0.5) 40px,
        rgb(143, 5, 0, 0.5) 80px,
        rgb(184, 6, 0, 0.5) 120px,
        rgb(224, 7, 0, 0.5) 160px,
        rgb(255, 18, 10, 0.5) 200px
    ),
    repeating-linear-gradient(
        -190deg,
        rgb(102, 3, 0, 0.5) 30px,
        rgb(143, 5, 0, 0.5) 60px,
        rgb(184, 6, 0, 0.5) 90px,
        rgb(224, 7, 0, 0.5) 120px,
        rgb(255, 18, 10, 0.5) 150px
    ),
    repeating-linear-gradient(
        45deg,
        rgb(102, 3, 0) 50px,
        rgb(143, 5, 0) 100px,
        rgb(184, 6, 0) 150px,
        rgb(224, 7, 0) 200px,
        rgb(255, 18, 10) 250px
    );
    color: transparent;
    background-clip: text;
}
/* 
    #030663 50px,
    #4ecdc4 100px,
    #f7fff7 150px,
    #ff6b6b 200px,
    #ffe66d 250px
*/