.titre {
    font-size: 5rem;
    letter-spacing: 4px;
    font-family: var(--title-family);
    text-transform: uppercase;
    margin-bottom: 50px;

    background-image: repeating-linear-gradient( /* dégradé texte couleur */
        190deg,
        rgb(239, 125, 125, 0.5) 40px,
        rgb(243, 148, 139, 0.5) 80px,
        rgb(247, 170, 154, 0.5) 120px,
        rgb(250, 193, 167, 0.5) 160px,
        rgb(255, 215, 181, 0.5) 200px
    ),
    repeating-linear-gradient(
        -190deg,
        rgb(239, 125, 125, 0.5) 30px,
        rgb(243, 148, 139, 0.5) 60px,
        rgb(247, 170, 154, 0.5) 90px,
        rgb(250, 193, 167, 0.5) 120px,
        rgb(255, 215, 181, 0.5) 150px
    ),
    repeating-linear-gradient(
        45deg,
        rgb(239, 125, 125) 50px,
        rgb(243, 148, 139) 100px,
        rgb(247, 170, 154) 150px,
        rgb(250, 193, 167) 200px,
        rgb(255, 215, 181) 250px
    );
    color: transparent;
    background-clip: text;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

.menu{
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 2.75rem;
    font-weight: 800;
    color: var(--text-color );
}

.menu ul {
    margin: 40px;
}

.menu ul:hover {
    transform: scale(1.15);
    transition: transform 0.4s ease-in;
}