body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

.menu{
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 2.75rem;
    font-weight: 800;
    color: var(--text-color );
}

.menu ul {
    margin: 40px;
}

.menu ul:hover {
    transform: scale(1.15);
    transition: transform 0.4s ease-in;
}