body {
    justify-content: center;
    align-items: center;
}

#main {
    top: 80px;
    height: 700px;
    position: relative;
    perspective: 2500px;
}

/* id de l'article */
#projets{
    width: 50vh;
    height: 50vh;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

/* gère la balise section */
#projets .cards {
    position: absolute;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    min-width: 35vw;
    min-height: 65vh;
    transform-origin: center;
    transform: rotateY(calc(var(--i) * 75deg)) translateZ(700px);
    border-radius: 20px;
}

/* gère la balise div qui se trouve à l'intérieur de la balise section */
#projets .cards .face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 20px;
    filter: drop-shadow(0px 13px 10px black);
}

/* l'avant des cartes de projets */
#projets .cards .front {
    transform: rotateY(0deg);
    overflow: hidden;

    background:  repeating-linear-gradient(
        190deg,
        rgb(239, 125, 125, 0.5) 40px,
        rgb(243, 148, 139, 0.5) 80px,
        rgb(247, 170, 154, 0.5) 120px,
        rgb(250, 193, 167, 0.5) 160px,
        rgb(255, 215, 181, 0.5) 200px
    ),
    repeating-linear-gradient(
        -190deg,
        rgb(239, 125, 125, 0.5) 30px,
        rgb(243, 148, 139, 0.5) 60px,
        rgb(247, 170, 154, 0.5) 90px,
        rgb(250, 193, 167, 0.5) 120px,
        rgb(255, 215, 181, 0.5) 150px
    ),
    repeating-linear-gradient(
        45deg,
        rgb(239, 125, 125) 50px,
        rgb(243, 148, 139) 100px,
        rgb(247, 170, 154) 150px,
        rgb(250, 193, 167) 200px,
        rgb(255, 215, 181) 250px
    );
}

/* le dos des cartes de projets */
#projets .cards .back {
    transform: rotateY(180deg);
    background: repeating-linear-gradient(
    190deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
    );
}

.contain-cards img {
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.contain-cards img:hover {
    transform: scale(1.075);
}

h2 {
    margin-top: 8px;
    font-size: 1.9rem;
    text-align: center;
}

h3 {
    margin: 8px;
    font-size: 1.5rem;
    text-align: center;
}

.bouton-git-site {
    justify-content: center;
    display: flex;
    gap: 40px;
    border-radius: 10px;
}

.btn {
    padding: 8px;
    margin: 10px;
    font-size: 1.3rem;
    background-color: rgba(125, 194, 165);
    border-radius: 10px;
    border: none;
    color: var(--text-color);
}

.btn {
    transition: transform 0.5s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#footer {
    background-color: aliceblue;
    height: 40px;
    width: 40px;
}

@media (max-width:1024px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    header{
        position: static;
        padding: 10px;
        margin-bottom: 0px;
        margin-top: 80px;
    }

    .titre {
        scale: 0.75;
    }

    #projets {
        min-height: 100%;
        position: static;
        animation: step-end;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
        justify-items: center;
        transform-style: flat;
    }

    #projets .cards {
        position: static;
        transform: none;
        overflow: visible;
    }

    #projets .cards .contain-cards {
        position: static;
    }
}

/* 

*/